
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="site-hero overlay" style="background-image: url({% static 'images/room1.jpg' %})" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade-up">
            <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To 5 <span class="fa fa-star text-primary"></span>   Hotel</span>
            <h1 class="heading">A Best Place to Collaborate with your team</h1>
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>
    <!-- END section -->

    <section class="section bg-light pb-0"  >
      <div class="container">
       
        <div class="" id="">
          <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

            <form action="" method="POST">
              {% csrf_token %}
              <div class="row">
                
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label class="font-weight-bold text-black">Date</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="date" id="date" name="date"  required="True" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                  <div class="row">
                    <div class="">
                      <label for="" class="font-weight-bold text-black">Time Slot</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select  id="time_slot" name="time_slot"  required="True" class="form-control">
                          <option value="M">Morning</option>
                          <option value="A">Afternoon</option>
                          <option value="E">Evening</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="" class="font-weight-bold text-black">Room Type</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="room_type" id="room_type" class="form-control">
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                          <option value="D">D</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 align-self-end">
                  <button class="btn btn-primary btn-block text-white">Check Availabilty</button>
                </div>
               
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container">
       
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th>Room Type</th>
                      <th>Status</th>
                      <th>Room Number</th>
                  </tr>
              </thead>
              <tbody>
                  {% for room in room %}
                  <tr>
                      <td>{{room.get_room_type_display}}</td>
                      <td>{{room.get_status_display}}</td>
                      <td>{{room.roomnumber}}</td>
                      <td>
                          <a type="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="           
                          #newModal-{{room.id}}">View</a>
                          <a type="button" class="btn btn-primary" href="{% url 'user_app:reservation_view' room.id %}">Reserve</a>
                          
                      </td>      
                  </tr>
                  <!--view modal-->
                  <div class="modal fade" id="newModal-{{room.id}}" role="dialog">
                    <div class="modal-dialog ">
                    </div>
                      <div class="modal-body">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">ROOM INFORMATION</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              <form id="updateForm" method="post" >
                              {% csrf_token %}
                                <div class="modal-body">
                                  <input type="number" name="u-id" value = {{room.id}} hidden>
                                    <div class="container">
                                        <div class = "row">
                                            <div class = "col-sm-5">
                                            <h4>Room Type</h4>
                                            <p>{{room.get_room_type_display}}</p>
                                            </div>
                                            <div class = "col-sm-5">
                                            <h4>Time Slot</h4>
                                            <p>{{room.get_time_slot_display}}</p>
                                            </div>
                                        </div>
                                        <div class = "row">
                                            <div class = "col-sm-5">
                                            <h4>Price</h4>
                                            <p>{{room.price}}</p>
                                            </div>
                                            <div class = "col-sm-5">
                                            <h4>Status</h4>
                                            <p>{{room.get_status_display}}</p>
                                            </div>
                                            <div class = "col-sm-5">
                                                <h4>Room Number</h4>
                                                <p>#{{room.roomnumber}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ClOSE</button>
                                </div>
                              </form>
                            </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </tbody>
          </table>
        
    </section>

    {% endblock content %}